@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap'); 
  body {
        font-family: 'Vollkorn', serif;
        margin: 0px;
        background-color: rgb(231, 8, 79);
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 80%;
        height: 300px;
        background:  rgb(184, 7, 63);
    }

    .text-box{
        font-size: 40px;
        text-align: center;
        color: rgb(251, 251, 242);
    }
    .button-box{
        text-align: center;
    }

    .img-box {
      text-align: center;
    }

    .infos-box h3{
        font-size: 45px;
        color: rgb(251, 251, 242);
        font-weight: bolder;
    }
    .infos-box  {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: rgb(11, 10, 7);
    }

    section #button{
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 50px;
        font-weight: 700;
        background-color: rgb(255, 255, 255); ;
        color: rgb(11, 10, 7);  
        padding: 20px;     
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section img {
        width:60%;
        animation: wiggle 2s 0.1s infinite;
        box-shadow: 0 0 0 0 white;
    }

    button{
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 50px;
        font-weight: 700;
        color: rgb(231, 8, 79);
    }

   #box-b-2, #box-b-3, #box-b-4, #box-b-5, #box-b-6, #box-b-7{
        position: absolute;
        transition: .1s all ease-in-out;
    } 


    @media (min-width:769px){
        #box-b-2{
            top: 25px;
            left: 10px;
        }

        #box-b-3{
            top: 25px;
            left: 500px;
        }
        #box-b-4{
            top: 235px;
            left: 480px;
        }
        #box-b-5{
            top: 0px;
            left: 10px;
        }
        #box-b-6{
            top: 325px;
            left: 10px;
        }
        #box-b-7{
            top: 400px;
            right: 20%;
        }  

    

    }
        
    @keyframes wiggle {
        5%,
        50% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.9);
        }
        15% {
            transform: scale(1.15);
        }
        20% {
            transform: scale(1.15) rotate(-5deg);
        }
        25% {
            transform: scale(1.15) rotate(5deg);
        }
        30% {
            transform: scale(1.15) rotate(-3deg);
        }
        35% {
            transform: scale(1.15) rotate(2deg);
        }
        40% {
            transform: scale(1.15) rotate(0);
        }
    }

    @media (max-width: 480px) {
    .container {
    width: 100%;
    height: auto;
    }

    .box{
        border-radius: 10px;
        padding: 10px;

    }

    .text-box{
        font-size: 25px; 
    }

    section img{
    margin-top: 30px;
    width:40%;
    }
    .infos-box h3{
    font-size: 25px;
    }

    section #button{
    margin-top: 100px;
    width: 50px;
    height: 10px;   
    font-size: 20px;
    }


    .box button{    
        width: 120px;
        height: 40px;
    }
    .box-b-b {
        width: 100px;
        height: 40px;
    }
    #box-b-2{
        top: 8px;
        left: 0px;
    }
    #box-b-3{
        top: 60px;
        right: 10px !important;
    }
    #box-b-4{
        top: 300px;
        left: 80px;
    }
    #box-b-5{
        top: 300px;
        left: 80px;
    }
    }
    